@model IEnumerable<BlogAppAdmin.Models.CommentModel>
@{ int counter = 1;}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Comment id</th>
            <th scope="col">Author Name</th>
            <th scope="col">Date</th>
            <th scope="col">Post id</th>
            <th scope="col">Short description</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in Model)
        {
            <tr>
                <th scope="row">@{counter++;}</th>
                <td>@Html.DisplayFor(commentItem => comment.Id)</td>
                <td>@Html.DisplayFor(commentItem => comment.AuthorName)</td>
                <td>@Html.DisplayFor(commentItem => comment.Date)</td>
                <td>@Html.DisplayFor(commentItem => comment.PostId)</td>
                <td>@Html.DisplayFor(commentItem => comment.Text)</td>
                <th>@Html.ActionLink("Delete","DeleteComment", new { commentId = comment.Id })</th>
            </tr>
         }
    </tbody>
</table>

