@model BlogAppAdmin.Models.PostModel
@{
    ViewBag.Title = "OpenPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div align="left" style="float:left">@Html.ActionLink("Delete post", "DeletePost", "Admin", new { postId = Model.Id }, new { @class = "btn btn-default navbar-btn" })</div>
    <div align="right">@Html.ActionLink("Log off", "Logoff", "Account", new { area = "" }, new { @class = "btn btn-default navbar-btn", })</div>
</div>


<div class="col-lg-8 col-md-8 col-sm-8">

    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.DisplayFor(modelItem => Model.Title)<br />
            @Html.DisplayFor(modelItem => Model.Date)
        </div>
        <div class="panel-body">
            <div align="center">
                @Html.Raw("<img style='width:50%; height:50%;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(Model.Image) + "\" />")
            </div>
            <br />
            @Html.DisplayFor(modelItem => Model.Text)
            <br />
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">
    @foreach (var item in Model.Comments)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <div>
                    @Html.DisplayFor(modelItem => Model.AuthorName)
                    @Html.DisplayFor(modelItem => item.Date)
                </div>
            </div>
            <div class="panel-body">
                @Html.DisplayFor(modelItem => item.Text)
            </div>
        </div>
    }
</div>
