@model BlogApp.Data.Entities.Comment

@using (Html.BeginForm("CreateComment", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.PostId)
    @Html.HiddenFor(model => model.Date)
    @Html.HiddenFor(model => model.ParentId)
    @Html.AntiForgeryToken()
    <div class="comment-creator">       
        <div>
            @Html.TextAreaFor(model => model.Text, new { cols = "50", rows = "8", style = "max-width: 100%" })
        </div>
        <input class="button-submit" type="submit" value="Добавить" />
    </div>
}