@model BlogApp.Data.Entities.Post
@{
    ViewBag.Title = "OpenPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <h5>@Html.DisplayFor(model => model.Date)</h5>
</div>
@Html.Raw("<img style='width:100%; height:100%;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(Model.Image) + "\" />")
<br />
@Html.DisplayFor(model => Model.Text)
<br />
@Html.Partial("CreateComment", new BlogApp.Data.Entities.Comment { PostId = Model.Id, Date = DateTime.Now , ParentId = ""})
<div>
    <div>@Html.Action("Comments", "Blog", Model.Id)</div>
</div>


@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
