@model BlogApp.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

@*@Html.ValidationSummary(false)*@
@using (Html.BeginForm())
{
    <div class="register-form">
        <div class="form-control" style="float:left;">
            @Html.TextBoxFor(x => x.Login, new { @class = "form-control", @placeholder = "Login" })
            @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Password" })
            @Html.PasswordFor(x => x.PasswordConfirm, new { @class = "form-control", @placeholder = "Confirm password" })
        </div>
        <div class="form-control" style="float:right">
            @Html.TextBoxFor(x => x.Login, new { @class = "form-control", @placeholder = "Name" })
            <p class="radio">
                <input type="radio" value="male" name="gender" /> Male
                <input type="radio" value="female" name="gender" /> Female
            </p>
            <p class="age"> B-day: <input type="date" class="age" name="date" /></p>
        </div>
        </div>
        <div class="register-form">
        <div class="avatar form-control">
            Add image
            <div class="form-control">
                <input type="file" name="avatar" />
            </div>
        </div>
        <div class="form-control">
            <button type="submit" class="button-submit">Создать</button>
            @Html.ActionLink("Отмена", "Login", null, null)
        </div>
    </div>
}
