<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div id="header">
        <h2>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("BlogApp", "Index", "Blog", new { area = "" }, null);
            }
            else
            {
                @Html.ActionLink("BlogApp", "Login", "Account", new { area = "" }, null)
            }
        </h2>
        @if (User.Identity.IsAuthenticated)
        {
            <ul id="navigation">
                <li>Profile</li>
                <li>@Html.ActionLink("Blog", "Index", "Blog", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Log off", "Logoff", "Account", new { area = "" }, null)</li>
            </ul>
        }
    </div>


    <div id="main-content">
        @RenderBody()
    </div>
    <div id="footer">
        <p id="copyright">Copyright © 2018</p>
        <p id="developer">BlogAppDeveloped By Lizz</p>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>